*{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #b3eee6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23454445' fill-opacity='0.1' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}
.rowFirst i{
    margin-left: 8px;
}
.bg-gradient{
    background-image: linear-gradient(25deg,#07b194 60%,#f6a9a9 40%);
    color: white;
}
.bg-blue{
    background: rgb(50, 158, 168);
}
.navbar-brand img{
    width: 30px;
}
.nav-item a{
    font-size: 12px;
    color: black;
}
a{color: black; text-decoration: none;}
a:hover {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}

.nav-item a:hover{
    font-size: 18px;
    color: rgb(246, 174, 225);
    transition: .5s;
}
.navbar-principal{
    display: flex;
    flex-direction: column;
}
.contener{
    width: 90%;
    margin: auto;
}
.contenedor{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.contenedor .seccion{
    position: relative;
    width: 100%;
    height: 500px;
}
.contenedor .seccion:nth-child(1){
    background: url(../img/imagenEntrada.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.contenedor .seccion .contenido{
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 700px;
}
.contenedor .seccion .contenido h2{
    text-align: center;
    padding: 10px 20px;
    color: rgb(59, 59, 59);
    background: #e2faf5b9;
}
.contenedor .seccion .contenido button{
    background-color: rgb(246, 174, 225);
    margin-left: 50px;
}
.contenedor .seccion .contenido button:hover{
    background-color: transparent;
    border: 2px solid #07b194;
}
.contenedor2{
    display: flex;
    transform: translateY(-5%);    
    background: rgba(245, 245, 245, 0.445);
    padding-bottom: 15px;
}
.contenedor2 .card{
    margin-right: 30px;
}
.contenedor2 .card button:hover{
    opacity: 0.7;
}
.contenedor2 .card .inner{
    overflow: hidden;
}
.contenedor2 .card .inner img{
    transition: all 1.5s ease-in-out;
}
.contenedor2 .card .inner:hover img{
    transform: scale(1.2);
}
.contenedor3{
    background-color: #f6a9a9be;
    height: 35em;   
}
.contenedor3 .text{
    color: #ffffff;
}
.contenedor3 img{
    width: 21rem;
    padding-top: 28px;
}
.contenedor4 .container .card,.card-header{
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}
.contenedor4 .container .card{
    box-shadow: none;    
    border-radius: 10px;
}
.contenedor4 .container .card .btn-link{
    width: 100%;
    height: 60px;
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
    background: rgba(202, 54, 35, 0.65);
    text-align: left !important;
    text-decoration: none !important;
    border-radius: 10px;
}
.contenedor4 .container .card .card-body{
    background-color: rgba(128, 231, 214, 0.472);
    color: rgb(116, 114, 114);
    border-radius: 10px;
    margin-top: 10px;
}
.contenedor4 .container .card .btn-link:after{
    content: '\2212';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
    background: rgba(96, 192, 176, 0.993);
}
.contenedor4 .container .card .btn-link.collapsed:after{
    content: '\002B';
}